*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

 .container-centered{
    margin: 0 20px 0 20px;
}


.ext-container{
    height: calc(100vh - 100px);

    display: flex;

    
}

.ext-container .inner-container1{
    min-height: 100%;
    min-width: 260px;
    background-color: black;
}

.ext-container .inner-container1 .container-centered{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


    

     

    

.ext-container .inner-container1 .logo{
    margin-top: 20px;
    margin-bottom: 20px;

    
}

.ext-container .inner-container1 .logo img{
    width: 70%;
}

.ext-container .inner-container1 .logo img:nth-child(2){
    display: none;
}


.ext-container .inner-container1 .left-menu{
    margin-bottom: 20px;

}

.ext-container .inner-container1 .left-menu .menu-item{
    font-size: 1.2em;
    color: #7b7b7b;
    margin-bottom: 15px;
}

.ext-container .inner-container1 .left-menu .menu-item span:hover{
    color: white;
    cursor: pointer;
}

.ext-container .inner-container1 .playlist .new-playlist span:hover , .playlist-items span:hover {
    color: white;
    cursor: pointer;
}

.ext-container .inner-container1 .playlist .new-playlist .square:hover{
    background-color: white;
    cursor: pointer;
}

.ext-container .inner-container1 .left-menu .menu-item i{
    font-size: 1.3em;
    
}

    


.ext-container .inner-container1 .playlist{
    
}


.ext-container .inner-container1 .playlist .title{
    margin-bottom: 10px;

    font-size: 1.1em;
    color: white;
    font-weight: bold;
}

.ext-container .inner-container1 .playlist .new-playlist{
    display: flex;

    margin-bottom: 20px;

}

.ext-container .inner-container1 .playlist .new-playlist .square{
    width: 50px;
    background-color: #a3a3a3;
    font-size: 2em;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.ext-container .inner-container1 .playlist .new-playlist .square-text{
   min-height: 50px;
    
    flex-grow: 1;
    font-size: 1.2em;
    display: flex;
    font-weight: 500;
    align-items: center;
    color: #7b7b7b;
    padding-left: 10px;

}

.ext-container .inner-container1 .playlist .playlist-items{
    min-height: 200px;

    
}

.ext-container .inner-container1 .playlist .playlist-items .item-text{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 15px;
    color: #7b7b7b;
}

.down .install{
   font-size: 1.1em;
    color: #7b7b7b;
    margin-bottom: 10px;
}

.down .install span{
    font-weight: 500;
    padding-left: 15px;
}

.down .install span:hover{
    color:white;
    cursor:pointer
}

.down hr{
    border: 1px groove #7b7b7b;
}
.down .profile{
    display: flex;
    margin-top: 10px;
    align-items: center;

}


.down .profile .img-profile img{
   height: 30px;
    background-color: gray;
    border-radius: 50%;

}

.down .profile .user{
    flex-grow: 1;
    
    color: white;
    font-weight: 600;
    padding-left: 20px;
    padding-bottom: 2px;


    
}



.ext-container .inner-container2{
    height: 100%;

    background-color: #141922;

    flex-grow: 1;

    overflow: hidden;
}

.ext-container .inner-container2 header{
    height: 80px;

    background-color: #080b12;

    display: flex;
    justify-content: flex-end;

    padding-right: 20px;
}

.ext-container .inner-container2 header .button{
    display: flex;
    
    align-items: center;
    justify-content: center;

}

.ext-container .inner-container2 header .button button{
    background-color: transparent;
    color: #c1c1c1;
    border: 2px solid #c1c1c1;
    border-radius: 20px;

    font-size: 15px
    font-weight: 500;
    padding: 10px 30px;

    transition: transform 0.2s;

    
}

.ext-container .inner-container2 header .button button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.box-centered{
    padding: 0 20px;

    overflow: auto;
    height: 100%;
}


.ext-container .inner-container2 nav{
   
    margin: 5px auto;
    
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    color: #7b7b7b;
    padding-top: 20px;

}
.ext-container .inner-container2 nav .nav-item:hover span{
    color: white;
    cursor: pointer;
}

.ext-container .inner-container2 nav .nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

}

.nav-item ~ .nav-item .active{
    background-color: transparent;
}

.active{
    height: 4px;
    width: 45%;
    background-color: #a6ec31;
    border-radius: 2px;
}


.inner-container2 .box-centered h2{
    color: white;
    font-size: 28px;
    padding: 10px 0;
}

.inner-container2 .box-centered span{
    color: #7b7b7b;
    
}

.card .album-img{
    position: relative;
    cursor: pointer;

}

.card .album-img .fa-circle-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
    font-size: 4em;
    display: none;
  }

.card .album-img:hover img{
    filter: opacity(0.7);
}

.card .album-img:hover .fa-circle-play{
    display: block;
    
}







.ext-container .inner-container2 .album1 , .album2 , .artists{
   
    

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.ext-container .inner-container2 .album1 .card , .album2 .card , .artists .card{
    

    width: calc(100% / 6 - 20px / 6 * 5);

}

.artists .card .album-img img{
    border-radius: 50%;
}

 .card .album-img img{
    width: 100%;
    height: auto;
}
    
.card .album-description{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
}

 .card .album-description .title{
    color: white;
    font-size: 1.2em
}

.album1 .card .album-description .singer{
    color: #7b7b7b;
}







footer{
    height: 100px;

    background-color: #282828;

    display: flex;
    justify-content: space-between;

    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

footer .player-left{
    
    width: 260px;

    padding: 15px 10px;

    display: flex;

    max-width: 260px;
}

footer .player-left .song{
    display: flex;
    
    align-items: center;
    width: 70%;
    padding-top: 10px;
    
}

footer .player-left .song .song-img{
    width:50px ;
    height: 100%;
}

footer .player-left .song .song-img img{
    width: 100%;
}


footer .player-left .song .song-title{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
}

footer .player-left .song .song-title span{
    font-size: 0.8em;
    color: #7b7b7b;
    font-weight: 500;
}

footer .player-left .song .song-title span:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

footer .player-left .song .song-title h4{
    color: white;
    font-weight: bold;
    font-size: 17px;
}



.buttons{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 10px;

    color: #7b7b7b;
    padding-left: 10px;

    font-size: 20px;
    
}

.buttons i:hover{
    color: white;
    cursor: pointer;
}





footer .player-center .center-container{
    
    height: 100%;
    min-width: 450px;
    
    

     
    }

footer .player-center .center-container .player-keys{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 25px;
    color: white;
    padding-top: 10px;
}

 .fa-circle-play{
    font-size: 1.4em;

    transition: transform 0.5;
}

.fa-circle-play:hover{
    transform: scale(1.1);
    cursor: pointer;
}



footer .player-center .center-container .timebar{
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.timebar .sing-minutes{
    color: #c1c1c1;
}



footer .player-center .center-container .timebar .song-bar{
    height: 4px;
    flex-grow: 1;
    background-color: #7b7b7b;

    cursor: pointer;

    border-radius: 2px;

}

footer .player-center .center-container .timebar .song-bar:hover .inner-song-bar{
    background-color: #a6ec31;
}

footer .player-center .center-container .timebar .song-bar .inner-song-bar{
    background-color: #c1c1c1;
    width: 40%;
    height: 100%;
    position: relative;

    border-radius: 2px;
}

footer .player-center .center-container .timebar .song-bar .inner-song-bar .circle{
    height: 10px;
    width: 10px;
    background-color: white;
    position: absolute;
    right: -2px;
    top: -2px;
    border-radius: 50%;
}




footer .player-right{
    
    width: 260px;
    padding-right: 10px;

    

    display: flex;

   
}

footer .player-right .icons{
    width: 100%;
    
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 15px;
    color: #c1c1c1;
    padding-left: 5px;
}


footer .player-right .bar{
    height: 100%;
    width: 65%;

    flex-grow: 1;

    height: 4px;
    flex-grow: 1;
    background-color: #7b7b7b;

    padding-right: 5px;

    cursor: pointer;
    
}

footer .player-right .bar .bar-inner{
    background-color: #c1c1c1;
    width: 20%;
    height: 100%;
    position: relative;

}

.bar .bar-inner .circle{
    height: 10px;
width: 10px;
background-color: white;
position: absolute;
right: -2px;
top: -3px;
border-radius: 50%;

}

footer .player-right .bar:hover .bar-inner{

    background-color: #a6ec31;
}



@media screen and (min-width: 768px) and (max-width: 991px){
    .ext-container .inner-container2 .album1 .card, .album2 .card, .artists .card{
        width: calc(100% / 4 - 20px / 6 * 5);
        margin-bottom: 40px;
    } 

    footer .player-center .center-container{
        min-width: auto;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px){
    .ext-container .inner-container2 .album1 .card, .album2 .card, .artists .card{
        width: calc(100% / 2 - 20px / 6 * 5);
        margin-bottom: 40px;
    } 

    footer .player-center .center-container{
        min-width: auto;
    }

    .buttons{
        flex-direction: column;
        justify-content: center;
    }

    footer .player-left .song .song-img{
        height: auto;
    }
}

@media screen and (max-width: 576px){
    .ext-container .inner-container1 .logo img{
        display: none;

    }
    
    .ext-container .inner-container1 .logo img:nth-child(2){
        display: block;
        width: 30px;
    }

    .ext-container .inner-container2 .album1 .card, .album2 .card, .artists .card{
        width: calc(100% / 2 - 20px / 6 * 5);
        margin-bottom: 40px;
    } 

    footer .player-center .center-container{
        min-width: auto;
    }

    .buttons{
        flex-direction: column;
        justify-content: center;
    }

    .ext-container .inner-container1 .left-menu .menu-item span{
        display: none;
    }

    .ext-container .inner-container1 .playlist{
        display: none;
    }

    .down .install span{
        display: none;
    }

    .down hr{
        display: none;

    }

    .down .profile .user{
        display: none;

    }

    .down .profile{
        margin-left: -3px;
        margin-bottom: 5px;
    }

    .ext-container .inner-container1{
        min-width: auto;
    }

    footer .player-left .song .song-img{
        height: auto;
    }
    footer .player-center .center-container .player-keys{
        gap: 15px;
    }
}